[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
flask = "*"
psycopg2 = "*"
psycopg2-binary = "*"
flask-sqlalchemy = "*"
gunicorn = "*"
datetime = "*"
requests = "*"
python-dotenv = "*"
docstr-coverage = "*"
utils = "*"
pytest-cov = "*"
pytest = "*"
flask-testing = "*"

[requires]
python_version = "3.7"
