<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Twitch History</title>
    <!-- Add js here -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
    <script src="{{url_for('static', filename='cytoscape.min.js')}}"></script>
    
    <!-- Add CSS here -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!-- Add custom CSS here -->
    <link href="{{url_for('static', filename='simple-sidebar.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='style.css')}}" rel="stylesheet">

    {% block head %}{% endblock %}
    
  </head>
  <body onload="onload();">
  
    <div id="wrapper">
      <!-- Sidebar -->
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          
          <li class="sidebar-brand"><a href="/">Twitch History</a></li>
          <!--<li><a href="#">Home</a></li>
          <li><a href="#">Overview</a></li>
          <li><a href="#">Events</a></li>
          <li><a href="#">About</a></li>
          -->
          <li><a href='https://github.com/kawyua/twitchhistory/issues' target="_blank" rel="noopener noreferrer">Issues?></a>
          </li>
          {% if session['login'] %}
          <li><input type="button"  name='{{session["login"]}}' class="btn btn-outline-secondary btn-block" id='sessionuserhistory' value='{{session["login"]}} Follow History' onclick="loading(this,'/history')"></li>
          <li ><input type="button" name='{{session["login"]}}' class="btn btn-outline-secondary btn-block" id='sessionusergraph' value='{{session["login"]}} Graph' onclick="loading(this,'/graph')"></li>
          {% else %}"
          <li><a href='https://id.twitch.tv/oauth2/authorize?response_type=code&client_id={{session["client_id"]}}&redirect_uri={{session["redirect_uri"]}}&scope=' >Login through twitch</a>
          </li>
          {% endif %}
          
          <form method = "POST">
          <li>
          <input type="text" name="login" class="form-control" id ="login" placeholder="Enter a twitch user" ></li>
          <li><input type="button" value="Get Follow History" class="btn btn-outline-secondary btn-block"  onclick="loadinput(this, '/history')"></li>
          <li><input type="button" value= "Get Graph" class="btn btn-outline-secondary btn-block"  onclick="loadinput(this, '/graph')"></li>
          {% if session['env'] == "dev" %}
          <input type="text" name="stopped_at" class="form-control" id ="stopped_at" placeholder="enter where to start from" value="0" >
          <input type="radio" id="male" name="second" value="first">
          <label for="male">first</label><br>
          <input type="radio" id="female" name="second" value="finished">
          <label for="female">finished</label><br>
          <li> <input type="submit" class="btn btn-primary"  formaction="/gettriads"/></li>
          {% endif %}
          </form>
          
          <input type="checkbox" checked id="deleteorlink" data-toggle="toggle" data-on="Link Saves" data-off="Delete Saves" data-onstyle="outline-light" data-offstyle="outline-dark" data-height="100%">
          {% if session['login'] and session["saved_users"] %}
            {% for user in session["saved_users"]%}
            <input id="usersave{{user[1]}}" class="btn btn-outline-secondary btn-block" name="{{user[0]}}" value="{{user[0]}} Follow History" onclick='deleteorredirect(this,"/history","{{user[0]}}",{{user[1]}})'>
            {% endfor %}
          {% endif %}
        </ul>
      </div>
          
      <!-- Page content -->
      <div id="page-content-wrapper">
        <div class="content-header">
          <h1>
            <a id="menu-toggle" href="#" class="btn btn-default infront"><i class="icon-reorder"></i></a>
          </h1>
          <h2><div id="time"> </div></h2>
          <div id="loading" class="container">
            <h2>Loading Request...
            </h2>
          </div>
          {% block info%}{% endblock %}
        </div>
        <!-- Keep all page content within the page-content inset div! -->
        <div class="page-content inset" >
          <div id="jobqueue" class="row">
          </div>
          <div class="row">
              <div id="content" class= "row">
                {% if isIndex %}
                  <div class="col-md-12">
                    {% if session['login'] %}
                      <p class="lead">Welcome {{session['login']}}!</p>
                      <p class="lead">Twitch History shows you your history of your follows on twitch and history of others.</p>
                    {% else %}
                    <p class="lead">Sign in through twitch to see related information to you.</p>
                    <a href='https://id.twitch.tv/oauth2/authorize?response_type=code&client_id={{session["client_id"]}}&redirect_uri={{session["redirect_uri"]}}&scope=' >Login through twitch</a>
                    {% endif %}
                  </div>
                  <div class="col-md-12">
                      <a href="https://twitter.com/intent/tweet?button_hashtag=TwitchCollab&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-show-count="false">Tweet #TwitchCollab</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                  </div>
                {% endif %}
              </div>
              <div id="dataresponsefield" class="row">
              </div>
          </div>
        </div>
      </div>

  <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>


    <!-- Custom JavaScript for the Menu Toggle -->
  <script>
    function polldata(jobID, url) {
    var timeout = 20000;
    var timeoutmax = 3000
    var firstloop = 0;
    var poller = function() {
      // fire another request
      $.ajax({
            data : {
            },
            url: '/results/'+jobID+url,
            type: 'GET',
            success: function(resp){
              if(resp.status == 202) {
                  console.log(resp.data)
                  if(firstloop == 0){
                    var delay = resp.data;
                    console.log("waiting for queries to finish.");
                    $("#time").hide();
                    
                    var delaymessage = 
                    '<div class="container"><div class="row"><div class="col"><p> Querying '
                        + resp.data +' from the database. Getting results approximately in an average '
                        + (delay/2+ 14) 
                        + ' seconds</p></div></div><div class="row" id="delaymessage" ></div></div>';
                    $('div#jobqueue').append(delaymessage);
                    setTimeout(poller, Math.max(Math.min(delay*250,20000), timeoutmax)); 
                    if(delay*250 > 20000){
                      timeout = delay*250 - 20000;
                    }
                    else{
                      timeout = delay*250;
                    }
                    firstloop++;
                    
                  } 
                  else{
                    firstloop++;
                    timeout -= 20000;
                    console.log("polling for results");
                    var delaymessage = 
                    '<div class="row"><div class="col"><p> Polling results. Job is currently '
                      + resp.job_status+'. '+ '<br> Job is getting id: ' + resp.user_id + ' Currently ' + resp.index + ' / ' + resp.listlength
                      +'<br> Requesting again in '+ Math.max(Math.min(timeout,20000), timeoutmax)/1000
                      +' seconds ('+firstloop+')</p></div></div>';
                    
                    document.getElementById('delaymessage').innerHTML = "";
                    $('div#delaymessage').append(delaymessage);
                    setTimeout(poller, Math.max(Math.min(timeout,20000), timeoutmax));
                  }
              } 
              else if (resp.status == 200){
                console.log("Successfully called");
                $("#time").show();
                document.getElementById('jobqueue').innerHTML = "";
                document.getElementById('dataresponsefield').innerHTML = "";
                $('div#dataresponsefield').append(resp.data);
              }
              else{
                console.log("entering failed due to unknown error")
                console.log(resp)
                console.log(status)
                console.log("request failed")
              }
            },
            failed: function(){
              console.log("failed to connect");
            }
        });
    };
    poller();
  }

      
    function deleteorredirect(ele, url, login, user_id) {
      $("#loading").show();
      console.log(url);
      var login = login.toString(200);
      var id = 'usersave'+user_id;
      if ( document.getElementById('deleteorlink').checked) {
        // Returns true if checked
        loading(ele, url);
      }else {
        $("#loading").hide();
        // Returns false if not checked
        $.ajax({
          data : {
            login : login,
            user_id: user_id,
            },
          type : 'POST',
          url : '/deleteuser'
        }).done(function(data) {
          console.log(data);
          console.log("hello test");
          console.log(id);
          if (data.toString(10) == 'Success'){
            console.log("hello success");
            console.log(id);
            ele.remove();
          }
        });
      }
    }

    
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
    });

    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
// <![CDATA[
      //loading icon for time consuming function
      //stackoverflow: https://stackoverflow.com/questions/14525029/display-a-loading-message-while-a-time-consuming-function-is-executed-in-flask
      function loading(ele, url){
        var login = ele.name;
        console.log(login)
        $("input").attr("disabled", "disable")
        console.log("loading content")
          $("#loading").show();
          $("#content").hide();
          $("#time").hide();
          $.ajax({
            data : {
            login : login,
            },
            url: url,
            type: 'POST',
            success: function(resp){
              console.log("Successfully queued")
              document.getElementById('jobqueue').innerHTML = "";
              $('div#jobqueue').append(resp.data);
              $("#loading").hide();
              $("input").removeAttr("disabled");
              
              if(url == '/graph'){
                $("#time").show();
              }
              else{
                $("#time").hide();
              }
              polldata(resp.job_id, url)
            }
        });      
      }
      var logininput;
      function onload() { 
        logininput = document.getElementById('login');
      }
      function loadinput(ele, url){
        login = logininput.value;
        console.log("login");
        console.log(login);
        $("input").attr("disabled", "disable")
          $("#loading").show();
          $("#content").hide();
          $("#time").hide();
          $.ajax({
            data : {
            login : login,
            },
            url: url,
            type: 'POST',
            success: function(resp){
              console.log("Successfully queued")
              document.getElementById('jobqueue').innerHTML = "";
              $('div#jobqueue').append(resp.data);
              $("#loading").hide();
              $("input").removeAttr("disabled");
              
              if(url == '/graph'){
                $("#time").show();
              }
              else{
                $("#time").hide();
              }
              polldata(resp.job_id, url)
            }
        });      
      }

  //Get the button
  var mybutton = document.getElementById("myBtn");
  
  // When the user scrolls down 20px from the top of the document, show the button
  window.onscroll = function() {scrollFunction()};
  
  function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      mybutton.style.display = "block";
    } else {
      mybutton.style.display = "none";
    }
  }
  
  // When the user clicks on the button, scroll to the top of the document
  function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  }
  function adduser(login, user_id){
      console.log(login);
      console.log(user_id);
      var stringlogin = login.toString(10)
      var txt1 = '<input id="usersave'+user_id+'" class="btn btn-outline-secondary btn-block" name="'+login+'" value="'+login+' Follow History" onclick='+"'deleteorredirect(this,"+'"/history","'+login+'",'+user_id+")'>";
      console.log(txt1);
      $.ajax({
        data : {
          login : login,
          user_id: user_id,
          },
        type : 'POST',
        url : '/adduser'
      }).done(function(data) {
        console.log(data);
        if (data.toString(10) == 'Success'){
          $(".sidebar-nav").append(txt1);
        }
      });
    console.log("adding to sidebar")
  }
  </script>
  </body>
</html>